<nav class="navbar navbar-light bg-secondary">
    <a class="navbar-brand" style='color:white' routerLink=""><i class="fa fa-slideshare"></i> Randi</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a style="color: white" routerLink="">Home</a>
        </li>
      </ul> 

      <div *ngIf="username"><i class="fa fa-user"></i> {{ username }}</div>
      <div *ngIf="!username" ><a routerLink="login" style="color:white"> LOGIN <i class="fa fa-sign-in"></i></a></div>

  </nav>
